<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/home.css" />

    <title>bloggs</title>
  </head>

  <body>
    <span class="backdrop"></span>
    <nav>
      <h1>CAP'S</h1>
      <div class="left-nav">
        <div id="add-container"><button id="add">+</button></div>
        <ul>
          <li><a href="/register">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="left-bar">
      <div class="block">
        <a href="https://github.com/Peziiim">
          <img src="/images/peziiim.png" alt="" />
          <h3>Conheça o 329769033° melhor desenvolvedor do mundo</h3>
        </a>
      </div>

      <div class="block">
        <a
          href="https://www.linkedin.com/in/eduardo-oliveira-risse-xavier-2b194634b/"
        >
          <img src="/images/linkedin.png" alt="" />
          <h3>Conheça profissional que vem se destacando no linkedin</h3>
        </a>
      </div>
    </div>

    <form class="postForm" id="addPostForm" method="post" action="/add-post">
      <textarea
        id="content"
        name="content"
        placeholder="O que você está pensando"
        required
      ></textarea>
      <button type="submit" id="addPost">Enviar</button>
    </form>

    <form class="postForm" id="editPostForm" method="patch" action="/edit-post">
      <textarea
        id="content"
        name="content"
        placeholder="O que você está pensando"
        required
      ><% %></textarea>
      <button type="submit" id="addPost">Enviar</button>
    </form>

    <section class="posts" id="posts-container"></section>
    <script src="/scripts/home.js"></script>
  </body>
</html>
